<!DOCTYPE html>
<html>
    <head>
        <link rel = "icon" href = "/img/weather1.png" >
        <style>
            body{
                background-color: aquamarine;
                color :blue;
            }
        </style>
    </head>
    <body>
        {{>header}}
        <img src = "/img/black friday2.jpg">
        {{>footer}}
    </body>
</html>